p {
    text-align: center;
    color: red;
}
body{
    background: rgb(173, 203, 209);
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    color: green;
}
.about {
    text-align: center;
    color: blue;
}
.projects{
    background: #00b3d1;
}
.left{
    text-align: left;
}
.green{
    color: green;
}
.attention{
    font-weight: bold;
}